version: '3.8'

services:
  mysql-db:
    image: mysql:8
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: pass123
      MYSQL_DATABASE: testdb
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./script.sql:/docker-entrypoint-initdb.d/script.sql
    networks:
      - app-network
  backend:
    build: ./backend
    container_name: backend-container
    restart: always
    environment:
      DB_HOST: mysql-db
      DB_USER: root
      DB_PASSWORD: pass123
      DB_NAME: testdb
    ports:
      - "3000:3000"
    depends_on:
      - mysql-db
    networks:
      - app-network
  frontend:
    build: ./frontend
    container_name: frontend-container
    restart: always
    ports:
      - "3001:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db_data: